@media (min-width: 600px) and (max-width: 1024px) {

    .header-inner {
        padding: 1rem 2rem;
    }

    .primary-nav ul li {
        margin: 0;
    }

    .primary-nav a {
        font-size: 1.1rem;
    }

    .primary-nav {
        display: none;
    }

    .home-grid {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem;
        gap: 1.5rem;
    }

    .box {
        padding: 1.5rem;
    }

    /* ==== REGION CARDS  ==== */

    #regions-container {
        grid-template-columns: repeat(2, 1fr);
    }
}